.muiStepConnector-line {
  display: none !important;
}
.muiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}
.muiStepConnector-active,
.muiStepConnector-completed {
  background-color: tomato;
}
